# Task 10
***Detailed summary report***

The first table will be a summary of the distance (km) and climb (m) variables for each training activity. The second table will list the summary statistics for the average speed (km/hr), climb (m), and distance (km) variables for each training activity.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df_activities = pd.read_csv("datasets\cardioActivities.csv",parse_dates = True , index_col= "Date")
df_activities
#df_activities.tail(40)

,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
Date,,,,,,,,,,,,,
2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx
2018-10-27 17:01:36,972567b2-1b0e-437c-9e82-fef8078d6438,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,NaN,2018-10-27-170136.gpx
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-08-28 07:06:57,f5218490-a372-44c8-bb20-de3b91984cbe,Walking,NaN,1.57,13:39,8:41,6.91,926743.0,7,NaN,NaN,NaN,2012-08-28-070657.gpx
2012-08-24 12:59:42,018f66a7-da5e-4985-a8fe-725a33317c87,Walking,NaN,1.48,17:56,12:09,4.94,942192.0,12,NaN,NaN,NaN,2012-08-24-125942.gpx
2012-08-24 10:12:16,7acec95a-d63d-435d-837c-7befb352f500,Walking,NaN,1.49,13:43,9:14,6.49,924486.0,9,NaN,NaN,NaN,2012-08-24-101216.gpx
2012-08-24 08:13:12,f790bdb2-b921-4018-bd39-d59d870c5847,Running,NaN,3.15,16:00,5:05,11.82,2288868.0,17,NaN,NaN,NaN,2012-08-24-081312.gpx
2012-08-22 18:53:54,706d4d6b-767d-40aa-81c9-e5e85a102051,Running,NaN,5.69,31:08,5:29,10.95,4072685.0,32,NaN,NaN,NaN,2012-08-22-185354.gpx

In [8]:
df_walk = df_activities[df_activities["Type"]=="Walking"].copy()
print(df_walk.head(5))
df_walk["Average Heart Rate (bpm)"].fillna(110,inplace=True)
df_walk.drop(["Route Name","Friend's Tagged"], inplace=True, axis=1)
print(df_walk.isnull().sum())

                                              Activity Id     Type Route Name  \
Date
2013-08-15 18:49:50  666cbe78-b3d5-4bbb-8a22-2717507d32c2  Walking        NaN
2013-08-08 07:56:08  9ea3ec6e-48fa-417f-8bdf-2b197e19f5d4  Walking        NaN
2013-06-03 07:04:59  d091607e-10a2-467a-93d6-f2c54d47a0d9  Walking        NaN
2013-04-29 18:48:30  f157d4ff-bbf3-47e9-b07c-58f692ef9e6f  Walking        NaN
2013-04-29 13:10:14  313fbef4-deeb-4da5-b1b2-ecee74cba0f6  Walking        NaN

                     Distance (km) Duration Average Pace  \
Date
2013-08-15 18:49:50           2.48  2:23:46        57:56
2013-08-08 07:56:08           1.51    15:24        10:11
2013-06-03 07:04:59           1.33    11:59         9:03
2013-04-29 18:48:30           1.37    22:39        16:30
2013-04-29 13:10:14           3.83    38:30        10:04

                     Average Speed (km/h)  Calories Burned  Climb (m)  \
Date
2013-08-15 18:49:50                  1.04            306.0         67
2013-08-08 07:56:08                  5.89             85.0          6
2013-06-03 07:04:59                  6.63             76.0          5
2013-04-29 18:48:30                  3.64             95.0         10
2013-04-29 13:10:14                  5.96            255.0         25

                     Average Heart Rate (bpm)  Friend's Tagged Notes  \
Date
2013-08-15 18:49:50                       NaN              NaN   NaN
2013-08-08 07:56:08                       NaN              NaN   NaN
2013-06-03 07:04:59                       NaN              NaN   NaN
2013-04-29 18:48:30                       NaN              NaN   NaN
2013-04-29 13:10:14                       NaN              NaN   NaN

                                  GPX File
Date
2013-08-15 18:49:50  2013-08-15-184950.gpx
2013-08-08 07:56:08  2013-08-08-075608.gpx
2013-06-03 07:04:59  2013-06-03-070459.gpx
2013-04-29 18:48:30  2013-04-29-184830.gpx
2013-04-29 13:10:14  2013-04-29-131014.gpx
Activity Id                  0
Type                         0
Distance (km)                0
Duration                     0
Average Pace                 0
Average Speed (km/h)         0
Calories Burned              0
Climb (m)                    0
Average Heart Rate (bpm)     0
Notes                       17
GPX File                     0
dtype: int64

In [9]:
df_cycle = df_activities[df_activities["Type"]=="Cycling"].copy()
df_cycle["Average Heart Rate (bpm)"].fillna(124,inplace=True)
print(df_cycle.isnull().sum())

Activity Id                  0
Type                         0
Route Name                  29
Distance (km)                0
Duration                     0
Average Pace                 0
Average Speed (km/h)         0
Calories Burned              0
Climb (m)                    0
Average Heart Rate (bpm)     0
Friend's Tagged             29
Notes                       21
GPX File                     0
dtype: int64

In [12]:
df_run_walk_cycle = df_activities.append([df_walk, df_cycle]).sort_index(ascending=False)
df_run_walk_cycle.head(5)

,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
Date,,,,,,,,,,,,,
2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx
2018-10-27 17:01:36,972567b2-1b0e-437c-9e82-fef8078d6438,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,NaN,2018-10-27-170136.gpx

In [20]:
dist_climb_cols, speed_col = ["Distance (km)","Climb (m)"],["Average Heart Rate (bpm)"]

In [22]:
df_totals = df_run_walk_cycle.groupby("Type")[dist_climb_cols].sum()
display(df_totals)

         Distance (km)  Climb (m)
Type
Cycling        1361.16      13952
Other            34.45        421
Running        5224.50      57278
Walking          66.90        698

In [23]:
df_summary = df_run_walk_cycle.groupby("Type")[dist_climb_cols + speed_col].describe()
df_summary

        Distance (km)                                                        \
                count       mean       std    min      25%     50%      75%
Type
Cycling          58.0  23.468276  9.367769  11.41  15.5300  20.300  29.4000
Other             2.0  17.225000  0.601041  16.80  17.0125  17.225  17.4375
Running         459.0  11.382353  4.937853   0.76   7.4150  10.810  13.1900
Walking          36.0   1.858333  0.867392   1.22   1.3700   1.485   1.8600

               Climb (m)              ...                 \
           max     count        mean  ...     75%    max
Type                                  ...
Cycling  49.18      58.0  240.551724  ...  318.00  553.0
Other    17.65       2.0  210.500000  ...  214.75  219.0
Running  38.32     459.0  124.788671  ...  171.00  982.0
Walking   4.29      36.0   19.388889  ...   16.00  112.0

        Average Heart Rate (bpm)                                               \
                           count        mean        std    min     25%    50%
Type
Cycling                     44.0  124.272727  12.004580   79.0  124.00  124.0
Other                        2.0   85.500000  12.020815   77.0   81.25   85.5
Running                    277.0  144.985560   7.794448  113.0  141.00  145.0
Walking                     18.0  110.000000   0.000000  110.0  110.00  110.0


            75%    max
Type
Cycling  134.00  138.0
Other     89.75   94.0
Running  149.00  172.0
Walking  110.00  110.0

[4 rows x 24 columns]

In [24]:
for i in dist_climb_cols:
  df_summary[i, "total"] = df_totals[i]
print("Total Statistics")
df_summary.stack()

Total Statistics

               Average Heart Rate (bpm)     Climb (m)  Distance (km)
Type
Cycling 25%                  124.000000    139.000000      15.530000
        50%                  124.000000    199.000000      20.300000
        75%                  134.000000    318.000000      29.400000
        count                 44.000000     58.000000      58.000000
        max                  138.000000    553.000000      49.180000
        mean                 124.272727    240.551724      23.468276
        min                   79.000000     58.000000      11.410000
        std                   12.004580    127.824053       9.367769
        total                       NaN  13952.000000    1361.160000
Other   25%                   81.250000    206.250000      17.012500
        50%                   85.500000    210.500000      17.225000
        75%                   89.750000    214.750000      17.437500
        count                  2.000000      2.000000       2.000000
        max                   94.000000    219.000000      17.650000
        mean                  85.500000    210.500000      17.225000
        min                   77.000000    202.000000      16.800000
        std                   12.020815     12.020815       0.601041
        total                       NaN    421.000000      34.450000
Running 25%                  141.000000     54.000000       7.415000
        50%                  145.000000     91.000000      10.810000
        75%                  149.000000    171.000000      13.190000
        count                277.000000    459.000000     459.000000
        max                  172.000000    982.000000      38.320000
        mean                 144.985560    124.788671      11.382353
        min                  113.000000      0.000000       0.760000
        std                    7.794448    103.382177       4.937853
        total                       NaN  57278.000000    5224.500000
Walking 25%                  110.000000      7.000000       1.370000
        50%                  110.000000     10.000000       1.485000
        75%                  110.000000     16.000000       1.860000
        count                 18.000000     36.000000      36.000000
        max                  110.000000    112.000000       4.290000
        mean                 110.000000     19.388889       1.858333
        min                  110.000000      5.000000       1.220000
        std                    0.000000     26.720006       0.867392
        total                       NaN    698.000000      66.900000